*{
    background-color: rgb(204, 216, 204);
}

body{
    text-align: center;
}

h1{
    margin-left: 40px;
    color: brown;
}
h3{
    font-style: italic;
}

ul{
    list-style:inside;
}
.system>img{
    padding: 10px;
}

.frSystem>p{
    font-weight: bold;
    font-size: 20px;
    padding-top: 30px;
    flex-wrap: wrap;
}